{
    "name": "PlayWithFire",
    "rules": [
      "FreePowerups",
      "PlayWithFire"
    ],
    "UI": {
      "CardTextInfo": [
        {
          "Text": "Cant Sell Towers!|CENTER_X"
        },
        {
          "Icon": "rulesIcon_PlayWithFire_large|CENTER_X",
          "offsetY": 15
        },
        {
          "Text": "2x income from Bloon Sends!",
          "Icon": "bullet_point_glow",
          "offsetY": 35
        },
        {
          "Icon": "warning|CENTER_X",
          "offsetY": 5
        },
        {
          "Text": "Bloon sends go to both players!",
          "Icon": "bullet_point_glow",
          "offsetY": 15
        }
      ],
      "RestrictedTowersInfo": [
        {
          "Icon": "rulesIcon_PlayWithFire_large|CENTER_X",
          "offsetY": 15
        },
        {
          "Text": "2x income from Bloon Sends!",
          "Icon": "bullet_point_glow",
          "offsetY": 35
        },
        {
          "Icon": "warning|CENTER_X",
          "offsetY": 5
        },
        {
          "Text": "Bloon sends go to both players!",
          "Icon": "bullet_point_glow",
          "offsetY": 15
        }
      ],
      "DisplayName": "GOOD PLACEMENT = GOOD CHANCE",
      "DisplayInfo": "Dont misplace your towers!",
      "DisplayIcon": "rulesIcon_PlayWithFire"
    },
    "version": "1.0"
  }