{
    "name": "R3_Speed",
    "rules": [
      "FreePowerups",
      "RoundPriceIncrease"
    ],
    "UI": {
      "CardTextInfo": [
        {
          "Text": "Towers cost 10% more each round"
        }
      ],
      "DisplayName": "Round Price Increase",
      "DisplayInfo": "Prepare to have a bad time...",
      "DisplayIcon": "combo_speed_bananza"
    },
    "version": "1.0"
  }