  {
    "name": "RandomTrio",
    "rules": [
      "FreePowerups",
      "RandomTrio"
    ],
    "UI": {
      "CardTextInfo": [
        {
          "Text": "Battle each other in the most epic way possible!"
        },
        {
          "Icon": "rulesIcon_RandomTrio_large",
          "offsetY": 10,
          "offsetX": 60
        },
        {
          "Text": "Gauntlet mode is a mode made by Mr.Nuke.",
          "Icon": "bullet_point_glow",
          "offsetY": 30
        },
        {
                "Icon": "warning|CENTER_X",
                "offsetX": 0,
                "offsetY": 5
            },
            {
                "Text": "Loose a Life Every Second!",
                "Icon": "bullet_point_glow",
                "offsetY": 15
            }
      ],
      "DisplayName": "Gauntlet mode!!!",
      "DisplayInfo": "Best mod of all time",
      "DisplayIcon": "rulesIcon_RandomTrio",
      "InGameRuleInfo": []
    },
    "version": "1.0"
  }