{
    "name": "Speed",
    "rules": [
      "FreePowerups",
      "Speed"
    ],
    "UI": {
      "CardTextInfo": [
        {
          "Text": "Get ready for a nightmare|CENTER_X"
        },
        {
          "Icon": "rulesIcon_SpeedBattle_large",
          "offsetY": 10,
          "offsetX": 60
        },
        {
          "Text": "Towers price rises Fast",
          "Icon": "bullet_point_glow",
          "offsetY": 25
        },
        {
          "Text": "Good Luck.",
          "Icon": "bullet_point_glow"
        },
        {
          "Text": "Watch out",
          "Icon": "bullet_point_glow"
        }
      ],
      "DisplayName": "Nightmare Mode",
      "DisplayInfo": "GG",
      "DisplayIcon": "rulesIcon_SpeedBattle"
    },
    "version": "1.0"
  }